*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  background-color: orange;
}

.Child {
  margin-inline: auto;
  width: fit-content;
  color: white;
}

button {
  display: block;
  margin-inline: auto;
  font-size: 1.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
}

.Child h2 {
  font-size: 2rem;
}
